body {
    background-color: white;
    color: black;
}

#navbar-custom, #footer {
    background-color: #F8F9FA;
    color: black;
}

.navbar-color {
    color: black;
}

#album {
    background-color: white;
    color: black;
}

#album_heading {
    color: black;
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1.2rem;
}

.btn:hover, .btn:focus {
    background-color: gray;
    color: white;
    border: 2px solid gray;
}

.card-text {
    min-height: 3rem
}

.card-img {
    overflow: hidden; 
    width: 100%; 
    height: 255px;
    border-radius: 0;
}

.card-img img {
    object-fit: fill; 
    min-height: 255px;
}

#main_img_div {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

#main_img_div img {
    contain: fit;
    filter: contrast(50%);
}

#main_img_words {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main_img_words h1 {
    font-size: 8rem;
}

#main_img_words p {
    font-size: 2rem;
}

.main_posts {
    width: 100%;
    font-size: 1.3rem;
}

.main-post-info {
    font-size: 1.1rem;
}

.main_posts_text:hover {
    color: gray;
}

.all_posts_container:hover {
    box-shadow: 0px 0px 15px gray;
}

#ind-post {
    text-align: center;
}

#ind-post-body {
    margin: 5vh auto 0;
    text-align: left;
    font-size: 1.2rem;
}

#ind-post-img {
    box-shadow: 0px 0px 12px gray;
    width: 50%
}

#ind-post hr {
    margin: 20px auto 25px;
}

#ind-post-subtitle {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

#ind-post-comments {
    display: none;
}

.ind-post-comments-section table {
    width: 100%;
}

.ind-post-comments-section tr {
    text-align: left; 
}

@media (min-width: 992px) {
    .btn {
        padding: 6px 12px;
    }
}

@media (max-width: 1200px) {
    .card-text {
        min-height: 4.4rem
    }
    #ind-post-img {
        width: 70%
    }
}

@media (max-width: 992px) {
    #ind-post-img {
        width: 90%
    }
    .btn {
        padding: 5px 10px;
    }
}

@media (max-width: 768px) {
    .card-text {
        min-height: 0rem
    }
    #ind-post-img {
        width: 100%
    }
    .btn {
        font-size: 1.3rem;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .btn {
      font-size: 1.4remm;
      padding: 9px 18px;
    }
  }

  