{% extends 'layout.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<div class="conatiner justify-content-center mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-10 col-11" style="text-align: left;">
            <h2><b>About This Project:</b></h2>
            <h4 class="mt-4 mb-2">Full Stack:</h4>
            <p>
            Every single tool presented below found it's utility at various stages during the development process. 
            While not all of these tools constitute current components of the working code, each one was indispensable in the construction of this project. 
            In the subsequent sections, a description of the utilization of each tool will be provided. 
            The roster of tools includes the following:
            </p>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>WTForms</li>
                <li>SQLAlchemy</li>
                <li>PostgreSQL</li>
                <li>SQLite</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Boostrap</li>
                <li>Gunicorn</li>
                <li>Heroku</li>
            </ul>
            <h4 class="mt-4 mb-2">Front End:</h4>
            <p>
            The tools employed for the development of the front end encompassed a combination of HTML, CSS, Bootstrap, and JavaScript. 
            HTML was augmented through the utilization of a jinja layout template, serving as the foundation for constructing each page. 
            In the interest of honing my skillset, the extent of CSS usage was kept to a minimum, with a primary focus on harnessing the power of Bootstrap. 
            The latter proved to be an invaluable asset, facilitating the expeditious creation of page layouts while ensuring optimal responsiveness. 
            Key implementations of Bootstrap included the integration of navbar and container divs throughout the project. 
            Moreover, the majority of pages were skillfully crafted through the manipulation of containers, rows, and columns offered by the Bootstrap package. 
            For the blog post display page, the BS 'album' class was elegantly employed to achieve a distinctive design flair.
            </p>
            <p>
            In terms of frontend functionality, JavaScript served as the sole driving force. 
            Its principal implementations manifested in the blog post display page, post editing, and account updates. 
            The post display page, by default, presents all the available blog posts, however, these can be sorted either by specific categories or search queries.
            Initially, only nine posts are visible, but through the simple act of clicking a 'load more' button, an API 'GET' request is dispatched to the server, dynamically fetching an additional nine posts. 
            If no further posts are available, a user-friendly alert duly notifies the user of this circumstance.
            </p>
            <p>
            For authenticated users, the capacity to edit their profile information is granted. 
            This necessitates a preliminary JavaScript function to procure a CSRF security key from the server, a crucial requirement for authorizing any non-'GET' request. 
            Armed with the security key, a 'PUT' request conveys all updated information to the server. Upon successful validation, the database promptly updates, and a Flask message conveys the outcome to the user.
            </p>
            <p>
            There are privileges only accessible to an admin account, which includes the capability to upload, edit, and delete posts. 
            The former task is accomplished through the utilization of an HTML form and back end form retrieval. 
            As for the latter two responsibilities, JavaScript is entrusted with handling the underlying API interactions. 
            Once again, the acquisition of the CSRF key precedes the 'PUT' request. 
            In the context of post deletion, an appropriately tailored 'DELETE' request supersedes the 'PUT' counterpart.
            </p>
            <h4 class="mt-4 mb-2">Back End:</h4>
            <p>
            The tools harnessed in the backend development encompasses the following array: Python, Flask, WTForms, SQLAlchemy, PostgreSQL, and SQLite. 
            I opted for Python as the backend programming language due to my expertise and proficiency in it, along with its vast collection of installable modules that offer remarkable flexibility.
            From it's large library of modules, I incorporated the SMTPlib and Werkzeug modules. 
            When the contact form is submitted, the SMTPlib module is used to send an email to my personal inbox, providing the message details and sender's information.
            Moreover, Werkzeug is utilized to hash and salt passwords in the database, ensuring utmost security.
            </p>
            <p>
            Flask, distinguished by its lightweight nature, streamlined setup process, and accelerated development capabilities, was deliberately chosen over Django. 
            The seamless integration of WTForms and SQLAlchemy modules tailored for Flask reinforced these benefits. 
            WTForms did not substantially feature in this project because HTML forms were preferred for their simplicity. 
            The predominant application of WTForms centered around its CSRF functionality, enabling the effortless addition of CSRF codes to each form.
            </p>
            <p>
            Initially, the database was implemented through SQLite, but its limitations in handling certain functions necessitated a transition to SQLAlchemy. 
            Nonetheless, in the project's initial iteration, SQLite, in tandem with the Python Faker module, facilitated the population of the database.
            Eventually, when the decision was made to host the webpage online, PostgreSQL was utilized to host the database. 
            </p>
        </div>
    </div>
</div>
{% endblock %}