<%- include("partials/header.ejs") %>

<main id="login">
    <form action="/login" method="post">
        <h1>Login</h1>
        <%- message %>
        <label>Email:</label>
        <input class="form-control" type="email" placeholder="Enter Email" name="username" required autofocus>
        <label>Password:</label>
        <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
        <button class="btn">Login</button><br>
        <button type="button" class="btn google_btn">Sign In with Google</button>
        <button type="button" class="btn fb_btn">Sign In with Facebook</button>
        <p>Click <a href="/register">here</a> to register.</p>
    </form>
</main>

<%- include("partials/footer.ejs") %>