body {
    font-family: 'Ubuntu', sans-serif;
    background-color:#273746;
    color: #273746 !important;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-blend-mode: overlay;
    font-size: 1.5rem;
}

nav {
    background-color: #D0D3D490;
}

nav a {
    color: #273746 !important;
}

main {
    margin: 5rem 5%;
    border-radius: 1rem;
    padding: 2rem;
    gap: 10rem;
    background-color: #D0D3D490;
}

#item-form > * > * {
    display: block;
    padding: .5rem;
}

.btn-item {
    width: fit-content;
    display: inline;
    font-size: 1.5rem;
    background-color: #273746;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem !important;
    margin: 1rem 0;
}

.btn-item:disabled {
    background-color: #27374680;
}

#error {
    display: none;
    color: red;
}

input {
    width: 50%;
    border-radius: 1rem;
    margin: .5rem 0;
    padding: .5rem;
    border: 2px solid #707B7C80;
}

#send-form {
    display: none;
}

.items-display {
    background-color: white;
    border-radius: 1rem;
}

.order-div {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem !important;
    overflow: hidden;
}

.order-div {
    justify-content: center;
}

.order-div > * {
    display: flex;
    align-content: center;
    margin: auto !important
}

.items-display .btn-item {
    margin: auto !important;
}