body {
    font-family: 'Ubuntu', sans-serif;
    background-color:#273746;
    color: #273746 !important;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    background-blend-mode: overlay;
    font-size: 1.5rem;
}

nav {
    background-color: #D0D3D490;
}

nav a {
    color: #273746 !important;
}

.link-item {
    text-decoration: none;
}

.link-item:hover {
    text-decoration: underline;
}

.link-item:nth-child(1) {
    margin: auto 1rem;
}

main {
    margin: 5rem 5%;
    border-radius: 1rem;
    padding: 2rem;
    gap: 10rem;
    background-color: #D0D3D490;
}

#item-form > * > *, #edit-page > * > * {
    display: block;
    padding: .5rem;
}

.btn-item {
    width: fit-content;
    display: inline;
    font-size: 1.5rem;
    background-color: #273746;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem !important;
    margin: 1rem 0 0;
    transition: all .3s ease-in-out;
}

.btn-item:hover {
    border-radius: 1.5rem;
    transform: scale(1.1);
}

.btn-item:disabled {
    background-color: #27374680;
}

#error {
    display: none;
    color: red;
}

input {
    width: 50%;
    border-radius: 1rem;
    margin: .5rem 0;
    padding: .5rem;
    border: 2px solid #D0D3D490;
}

#send-form {
    display: none;
}

#add_btn {
    display: none;
}

.items-display {
    display: none;
    background-color: white;
    border-radius: 1rem;
    padding: 10rem;
    width: 100%;
    height: fit-content;;
    text-align: center;
}

.items-display th {
    border-bottom: .25rem solid #D0D3D490;
}

.items-display td {
    border-top: .25rem solid #D0D3D490; 
}

.items-display td, .items-display th {
    margin: 5rem;
    padding: 1rem;
}

.items-display .btn-item {
    margin: auto !important;
}

#add-form {
    display: flex;
    flex-direction: column;
}

.extra-btn {
    background-color: #1A5276 !important;
    display: none;
}

#barcodeCanvas {
    display: none;
    margin: .8rem 0 0;
    width: 30%;
    height: auto;
}

#edit-form {
    display: none;
}

#all-div table {
    display: table !important;
}
