{% extends 'layout.html' %}

{% block body %}
<div id="header">
    <h1><b>MY TOP MOVIES</b></h1>
    <hr>
    <p>These are my top favorite movies of all time.</p>
</div>
<div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg" id="add_button" onclick="window.location.pathname = '/search'">Add Movie</button>
</div>
{% for movie in movies %}
<div class="container d-flex justify-content-center align-items-center" id="movies_container">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="flip-card d-flex justify-content-center align-items-center" id="movies">
            <div class="flip-card-inner d-flex justify-content-center align-items-center" id="movie_container">
                <div class="flip-card-front d-flex justify-content-center align-items-center">
                    <p id="movie_place">{{ loop.revindex }}</p>
                    <img src="{{ movie.img }}" alt="{{ movie.title }}"><br>
                </div>
                <div class="flip-card-back">
                    <div id="back_items{{ movie.id }}">
                        <h4>{{ movie.title }}</h4>
                        <p>{{ movie.rating }} / 10 <span style="color:gold;">&starf;</span></p>
                        <p>"{{ movie.comment }}"</p>
                        <p>{{ movie.description }}</p>
                        <div class="container d-flex justify-content-center">
                            <button type="button" class="btn btn-lg" id="update_button" data-id="{{ movie.id }}" data-rating="{{ movie.rating }}" data-comments="{{ movie.comment }}">Update</button>
                            &nbsp&nbsp
                            <form action="/delete/{{ movie.id }}" method="post">
                                <button type="button" class="btn btn-lg" id="delete_button" data-id="{{ movie.id }}">Delete</button>
                            </form>
                        </div>
                    </div>
                    <div id="update_forms">
                        <form action="/update/{{ movie.id }}" method="post" style="display:none;" id="update_form{{ movie.id }}">
                            <input type="text" name="rating" placeholder="Rating" required><span> / 10 <span style="color:gold;">&starf;</span><br>
                            <textarea placeholder="Comments" name="comments" required></textarea><br>
                            <button type="button" class="btn btn-lg" id="update_submit_button">Submit</button>
                            &nbsp
                            <button type="button" class="btn btn-lg" id="update_cancel_button">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}