:root {
    --main-color: #068FFF;
    --sec-color: #FFFFFFE0;
}

#homepage {
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--sec-color);
}

.error {
    color: black;
}

#homepage svg {
    fill: var(--sec-color);
    transition: all .3s ease-in-out;
}

#homepage svg:hover {
    transform: scale(1.15);
}

#homepage h1 {
    margin-top: 1rem;
}

#hp_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    padding-top: 1.5rem;
    padding-left: 1.75rem;
    border-top: .2rem solid #FFFFFF80;
}

#hp_buttons .btn, #login .btn, #register .btn {
    font-weight: 500;
    background-color: var(--sec-color);
    color: #2C3E50F0;
    transition: all .3s ease-in-out;
}

#hp_buttons .btn:hover, #login .btn:hover, #register .btn:hover {
    border-radius: 1rem;
    transform: scale(1.1);
}

#copyright {
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--sec-color);
    display: flex;
    justify-content: center;
    font-size: 1.15rem;
    font-weight: 700;
}

#login, #register {
    background-color: var(--sec-color);
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
}

#login form, #register form {
    background-color: var(--main-color);
    padding: 2rem;
    width: 40%;
    font-weight: 500;
    border-radius: 1rem;
    color: var(--sec-color);
}

#login form label, #register form label {
    margin-top: 1rem;
}

#login .btn, #register .btn {
    margin: 1.5rem 0;
}

#login form a, #register form a {
    color: var(--sec-color);
    transition: all .3s ease-in-out;
}

#login form a:hover, #register form a:hover {
    margin: .2rem;
    transform: scale(1.1);
}

.navbar-secrets {
    background-color: var(--main-color);
}

.ns-link {
    color: var(--sec-color) !important;
    font-size: 1.15rem;
    font-weight: 700;
}

.secrets {
    background-color: var(--sec-color);
    width: 100%;
    padding: 3rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 700;
    min-height: 87vh;
}

.secrets .btn {
    margin-bottom: 3rem;
    background-color: var(--main-color);
    color: var(--sec-color);
    font-size: 1.25rem;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.secrets .btn:hover {
    border-radius: 1.25rem;
    transform: scale(1.05);
}

.secrets form {
    display: none;
    border: .5rem solid var(--main-color);
    color: var(--main-color);
    border-radius: 1rem;
    font-size: 1.25rem;
    width: 35%;
    margin-bottom: 3rem;
    padding: 1rem 2rem 1rem 1rem;
}

.secrets form .btn {
    margin: 1rem 0;
}

.secrets form textarea {
    min-height: 5rem;
}

.secrets form p {
    font-size: 1.05rem;
}

.secrets .row {
    gap: 5rem;
}

.col {
    background-color: var(--main-color);
    color: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    height: 20rem;
    transition: all .3s ease-in-out;
}

.col:hover {
    transform: scale(1.05);
}

.google_btn {
    background-color:#DB4437 !important;
    color: var(--sec-color) !important;
    margin-top: 0 !important;
    margin-right: .5rem !important;
}

.fb_btn {
    background-color: #4267B2 !important;
    color: var(--sec-color) !important;
    margin-top: 0 !important;
}