{% extends 'layout.html' %}

{% block title %}
Password
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-4" style="margin-bottom: 25%;"e>
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 justify-content-center" style="text-align: left; font-size: 1rem;">
        <div id="profile_info">
            <form id="change_pw_form">
                {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                {{ message|safe }}
                {% endfor %}
                {% endwith %}
                <h3 class="mb-3">Change Password:</h3>
                <p>You password must meet these requirements:</p>
                <ul>
                    <li>Must contain 8-20 characters</li>
                    <li>Must contain one uppercase character</li>
                    <li>Must contain one symbol</li>
                    <li>Cannot be in this list: "password", "password1", "password123", "qwertyuiop", "12345678", "123456789", "1234567890", "77777777", "princess", "qwerty123", "1q2w3e4r", and "iloveyou"</li>
                </ul>
                <label for="password">Password:</label>
                <input class="form-control mb-3" name="password" type="password" placeholder="Enter Password" required minlength="8" maxlength="20">
                <label for="confirm">Confirm Password:</label>
                <input class="form-control mb-3" name="confirm" type="password" placeholder="Re-Enter Password" required minlength="8" maxlength="20">
                <button type="submit" class="btn btn-primary me-2" id="confirm_pw_button">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}