<%- include("partials/header.ejs") %>

<main>
    <div id="dark_mode_info">
        <p>(Click me for dark mode)</p>
    </div>
    <div class="container justify-content-center">
        <div class="row main_full justify-content-center">
            <div class="col-lg-5 col-md-6 col-9 main_picture justify-content-center">
                <img src="random_face.jpeg" alt="My Picture">
            </div>
            <div class="col-xxl-6 col-xl-7 col-lg-9 col-md-11 col-12 main_heading justify-content-center">
                <p>Hello I'm,</p>
                <p id="name">Emrakh Ibragimov</p>
                <div class="animation_words">
                    <div class="words">
                        <span>Full-Stack</span>
                        <span>Front-End</span>
                        <span>Back-End</span>
                        <span>Full-Stack</span>
                    </div>
                    <span>Developer</span>
                </div>
                <div class="buttons">
                    <button class="btn github-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 496 512"><style>svg{fill: var(--main-color)}</style><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
                    </button>
                    <button class="btn linkedin-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                    </button>
                    <button class="btn email-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>                    </button>
                    <button class="btn phone-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                    </button>
                    <button class="btn resume">Resume</button>
                </div>
            </div>
        </div>        
    </div>
    <div class="chevron" id="about_chevron">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
        </button>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-11 quote">
            <p id="leading_p">(Here is a quote from my list of favorites. Refresh for a new one!)</p>
            <p><%= quote %></p>
            <p>-<%= author %></p>
            </div>
        </div>
    </div>
    <div class="container about">
        <div class="row" id="about_section">
            <div class="col">
                <h1>About Me</h1>
                <p id="important">
                    I'm Emrakh Ibragimov, a talented programmer who has a passion for learning. I'm proficient in multiple
                    different languages, and I've completed dozens of unique projects in each language.</p>
                <p>
                    My coding journey was initiated with the well know Hardvard course CS50. I only started the course hoping to discover a new hobby, however, I immediatly became obsessed with it. 
                    I eventually started creating my own projects from scratch and taking courses in the topics I was interested in. 
                    Over time, I developed few great projects to showcase, which can be viewed in the <a href="/projects">projects section</a>. 
                </p>
                <p>
                    Soon after I learned to code, my primary focus became full-stack development. 
                    Mastering the art of full-stack development has not only empowered me to create visually appealing and user-friendly interfaces but has also equipped me with the ability to architect and implement the underlying systems that power these applications. 
                    This approach to development allows me to envision the complete lifecycle of a project, from inception to deployment, ensuring that every element harmonizes to deliver an exceptional end-user experience.
                    As I continue to expand my knowledge, I am better able to turn my ideas into reality in a clean and efficient manner.
                </p>
                <p>
                    Beyond coding, I am known for my ability to quickly adapt, constant motivation to work hard, and 
                    ability to work alongside a team. 
                    Ever since I've started this journey, I've quickly adapted to many different languages, frameworks, and databases. 
                    I believe there is nothing in this field I cannot learn after a few days of hard work and building a handful of projects.
                    Sometimes I wonder if I'm fueled by enthusiam or coffee to do this hard work. 
                    Nevertheless, I believe my ability to not just work hard, but achieve depth in my work has been vital to my success on this journey.
                    Another vital aspect to my success are my friends and colleagues. I believe that everyone around you knows something you don't, and since this is an ever-changing field, the better you
                    are able to collaborate, the better you will be able to stay up to date.
                </p>
            </div>
        </div>
        <div class="row" id="contact_section">
            <div class="col-lg-8 col-md-10">
                <h1>Contact Me</h1>
                <p class="contact-info" id="personal_phone">Through my cellphone at <span>240-520-8934.<span class="tooltiptext">Click to copy!</span></span></p>
                <p class="contact-info" id="personal_email">Through my email at <span>ibraem1026@gmail.com<span class="tooltiptext">Click to copy!</span></span> or through the following form:</p>
                <form action="/email" method="post">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                    <label>Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Email Subject" required>
                    <label>Body:</label><br>
                    <textarea class="form-control" name="body" maxlength="320" placeholder="Email Body" required></textarea>
                    <p id="chars">Characters: <span id=char_count>0</span> / 320</p>
                    <button type="submit" class="btn btn-lg">Send Email</button>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs") %>