<%- include("partials/header.ejs") %>

<main>
    <div class="container justify-content-center">
        <div class="divider_parent row">
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 640 512"><path d="M308.5 135.3c7.1-6.3 9.9-16.2 6.2-25c-2.3-5.3-4.8-10.5-7.6-15.5L304 89.4c-3-5-6.3-9.9-9.8-14.6c-5.7-7.6-15.7-10.1-24.7-7.1l-28.2 9.3c-10.7-8.8-23-16-36.2-20.9L199 27.1c-1.9-9.3-9.1-16.7-18.5-17.8C173.9 8.4 167.2 8 160.4 8h-.7c-6.8 0-13.5 .4-20.1 1.2c-9.4 1.1-16.6 8.6-18.5 17.8L115 56.1c-13.3 5-25.5 12.1-36.2 20.9L50.5 67.8c-9-3-19-.5-24.7 7.1c-3.5 4.7-6.8 9.6-9.9 14.6l-3 5.3c-2.8 5-5.3 10.2-7.6 15.6c-3.7 8.7-.9 18.6 6.2 25l22.2 19.8C32.6 161.9 32 168.9 32 176s.6 14.1 1.7 20.9L11.5 216.7c-7.1 6.3-9.9 16.2-6.2 25c2.3 5.3 4.8 10.5 7.6 15.6l3 5.2c3 5.1 6.3 9.9 9.9 14.6c5.7 7.6 15.7 10.1 24.7 7.1l28.2-9.3c10.7 8.8 23 16 36.2 20.9l6.1 29.1c1.9 9.3 9.1 16.7 18.5 17.8c6.7 .8 13.5 1.2 20.4 1.2s13.7-.4 20.4-1.2c9.4-1.1 16.6-8.6 18.5-17.8l6.1-29.1c13.3-5 25.5-12.1 36.2-20.9l28.2 9.3c9 3 19 .5 24.7-7.1c3.5-4.7 6.8-9.5 9.8-14.6l3.1-5.4c2.8-5 5.3-10.2 7.6-15.5c3.7-8.7 .9-18.6-6.2-25l-22.2-19.8c1.1-6.8 1.7-13.8 1.7-20.9s-.6-14.1-1.7-20.9l22.2-19.8zM112 176a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zM504.7 500.5c6.3 7.1 16.2 9.9 25 6.2c5.3-2.3 10.5-4.8 15.5-7.6l5.4-3.1c5-3 9.9-6.3 14.6-9.8c7.6-5.7 10.1-15.7 7.1-24.7l-9.3-28.2c8.8-10.7 16-23 20.9-36.2l29.1-6.1c9.3-1.9 16.7-9.1 17.8-18.5c.8-6.7 1.2-13.5 1.2-20.4s-.4-13.7-1.2-20.4c-1.1-9.4-8.6-16.6-17.8-18.5L583.9 307c-5-13.3-12.1-25.5-20.9-36.2l9.3-28.2c3-9 .5-19-7.1-24.7c-4.7-3.5-9.6-6.8-14.6-9.9l-5.3-3c-5-2.8-10.2-5.3-15.6-7.6c-8.7-3.7-18.6-.9-25 6.2l-19.8 22.2c-6.8-1.1-13.8-1.7-20.9-1.7s-14.1 .6-20.9 1.7l-19.8-22.2c-6.3-7.1-16.2-9.9-25-6.2c-5.3 2.3-10.5 4.8-15.6 7.6l-5.2 3c-5.1 3-9.9 6.3-14.6 9.9c-7.6 5.7-10.1 15.7-7.1 24.7l9.3 28.2c-8.8 10.7-16 23-20.9 36.2L315.1 313c-9.3 1.9-16.7 9.1-17.8 18.5c-.8 6.7-1.2 13.5-1.2 20.4s.4 13.7 1.2 20.4c1.1 9.4 8.6 16.6 17.8 18.5l29.1 6.1c5 13.3 12.1 25.5 20.9 36.2l-9.3 28.2c-3 9-.5 19 7.1 24.7c4.7 3.5 9.5 6.8 14.6 9.8l5.4 3.1c5 2.8 10.2 5.3 15.5 7.6c8.7 3.7 18.6 .9 25-6.2l19.8-22.2c6.8 1.1 13.8 1.7 20.9 1.7s14.1-.6 20.9-1.7l19.8 22.2zM464 304a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                </div>
                <h1>Back End</h1>
                <p>Python</p>
                <p>Flask</p>
                <p>Django</p>
                <p>NodeJS</p>
                <p>ExpressJS</p>
                <p>REST</p>
                <p>C</p>
            </div>
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 640 512"><path d="M64 96c0-35.3 28.7-64 64-64H512c35.3 0 64 28.7 64 64V352H512V96H128V352H64V96zM0 403.2C0 392.6 8.6 384 19.2 384H620.8c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8H76.8C34.4 480 0 445.6 0 403.2zM281 209l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-48-48c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM393 175l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/></svg>
                </div>
                <h1>Front End</h1>
                <p>HTML</p>
                <p>CSS</p>
                <p>React</p>
                <p>JavaScript</p>
                <p>JQuery</p>
                <p>Bootstrap</p>
                <p>SASS</p>
            </div>
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 448 512"><path d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z"/></svg>
                </div>
                <h1>Databases</h1>
                <p>SQLite</p>
                <p>SQLAlchemy</p>
                <p>PostgreSQL</p>
                <p>MongoDB</p>
                <p>Mongoose</p>
            </div>
            <div class="divider col-md-3 col-6">
                <div class="divider_svg">
                <svg xmlns="http://www.w3.org/2000/svg" height="8em" viewBox="0 0 640 512"><path d="M384 96V320H64L64 96H384zM64 32C28.7 32 0 60.7 0 96V320c0 35.3 28.7 64 64 64H181.3l-10.7 32H96c-17.7 0-32 14.3-32 32s14.3 32 32 32H352c17.7 0 32-14.3 32-32s-14.3-32-32-32H277.3l-10.7-32H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm464 0c-26.5 0-48 21.5-48 48V432c0 26.5 21.5 48 48 48h64c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H528zm16 64h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H544c-8.8 0-16-7.2-16-16s7.2-16 16-16zm-16 80c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H544c-8.8 0-16-7.2-16-16zm32 160a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
                </div>
                <h1>Other Tools</h1>
                <p>Git</p>
                <p>GitHub</p>
                <p>Heroku</p>
                <p>Gunicorn</p>
                <p>VSCode</p>
            </div>
        </div>
    </div>
    <div class="chevron" id="projects_chevron">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
        </button>
    </div>
    <div class="container projects">
        <div class="row mx-1" id="project1">
            <div class="col-md-6 col-12">
                <h1>1. Forum</h1>
                <p id="important">
                    This is a custom created forum website. I created this to show off my skills so it includes multiple different methods
                    of loading content and pagination. You can visit the app as a demo user.
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>Create an account and log in</li>
                        <li>Add profile picture and change password</li>
                        <li>Create posts, edit posts, and delete posts (latter two only if you're the author)</li>
                        <li>Like a blog post (with immediate visual response)</li>
                        <li>Comment on a blog post and reply to previous comments</li>
                        <li>Visit another account's page to view all blog posts</li>
                        <li>Follow and unfollow other accounts</li>
                        <li>View your own or another account's page to see following and followers list</li>
                        <li>Sort posts and remember sorting filter when page is switched</li>
                        <li>Sort by category, upload date, comment count, or like count</li>
                        <li>Search by keywords (looks through posts, comments, categories)</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg">View Project</button>
                    <button class="btn btn-lg">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div class="img">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <br>
                <p>Python</p>
                <p>Django</p>
                <p>JavaScript</p>
                <p>REST</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>GitHub</p>
                <p>VSCode</p>
            </div>
        </div>
        <div class="row mx-1" id="project2">
            <div class="col-md-6 col-12">
                <h1>2. Blog</h1>
                <p id="important">
                    This is a custom created forum website. 
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>Create an account and log in</li>
                        <li>Add profile picture and change password</li>
                        <li>Create posts, edit posts, and delete posts (latter two only if you're the author)</li>
                        <li>Like a blog post (with immediate visual response)</li>
                        <li>Comment on a blog post and reply to previous comments</li>
                        <li>Visit another account's page to view all blog posts</li>
                        <li>Follow and unfollow other accounts</li>
                        <li>View your own or another account's page to see following and followers list</li>
                        <li>Sort posts and remember sorting filter when page is switched</li>
                        <li>Sort by category, upload date, comment count, or like count</li>
                        <li>Search by keywords (looks through posts, comments, categories)</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg">View Project</button>
                    <button class="btn btn-lg">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div class="img">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>                <br>
                <p>Python</p>
                <p>Flask</p>
                <p>JavaScript</p>
                <p>REST</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>SASS</p>
                <p>SQLAlchemy</p>
                <p>SQLite</p>
                <p>PostgreSQL</p>
                <p>Heroku</p>
                <p>Geunicorn</p>
                <p>GitHub</p>
                <p>VSCode</p>
            </div>
        </div>
        <div class="row mx-1" id="project3">
            <div class="col-md-6 col-12">
                <h1>3. Inventory Manager</h1>
                <p id="important">
                    This is a custom created forum website. 
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>Create an account and log in</li>
                        <li>Change profile information and password</li>
                        <li>Create posts, edit posts, and delete posts (latter two only if you're the author)</li>
                        <li>Comment on a blog post</li>
                        <li>Visit another account's page to view all blog posts</li>
                        <li>Sort blog posts by category, upload date, comment count, or like count</li>
                        <li>Search by keywords (looks through posts, comments, categories)</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg">View Project</button>
                    <button class="btn btn-lg">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div class="img">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>                <br>
                <p>NodeJS</p>
                <p>ExpressJS</p>
                <p>JavaScript</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>MongoDB</p>
                <p>GitHub</p>
                <p>VSCode</p>
            </div>
        </div>
        <div class="row mx-1" id="project4">
            <div class="col-md-6 col-12">
                <h1>4. Website</h1>
                <p id="important">
                    This is a custom created forum website. 
                </p>
                <p>
                    Functionality:
                    <ul>
                        <li>Create an account and log in</li>
                        <li>Add profile picture and change password</li>
                        <li>Create posts, edit posts, and delete posts (latter two only if you're the author)</li>
                        <li>Like a blog post (with immediate visual response)</li>
                        <li>Comment on a blog post and reply to previous comments</li>
                        <li>Visit another account's page to view all blog posts</li>
                        <li>Follow and unfollow other accounts</li>
                        <li>View your own or another account's page to see following and followers list</li>
                        <li>Sort posts and remember sorting filter when page is switched</li>
                        <li>Sort by category, upload date, comment count, or like count</li>
                        <li>Search by keywords (looks through posts, comments, categories)</li>
                    </ul>
                </p>
                <div class="project_buttons">
                    <button class="btn btn-lg">View Project</button>
                    <button class="btn btn-lg">Source Code</button>
                </div>
            </div>
            <div class="col-md-6 col-12 second_col">
                <div class="img">
                    <iframe width="100%" height="250" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>            </div>
        </div>
        <div class="row mx-1" id="smaller_projects">
            <h1>Smaller Projects</h1>
            <div class="album">
                <div class="container">
            
                  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
                    <div class="col">
                      <div class="card shadow-sm">
                        <iframe width="100%" height="225" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="smaller_project_buttons">
                                <button class="btn">View Project</button>
                                <button class="btn">Source Code</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <iframe width="100%" height="225" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="smaller_project_buttons">
                                <button class="btn">View Project</button>
                                <button class="btn">Source Code</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <iframe width="100%" height="225" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="smaller_project_buttons">
                                <button class="btn">View Project</button>
                                <button class="btn">Source Code</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs") %>