:root{
    --main-color: white;
    --m-opp: #212529;
    --sec-color: #dd576e;
    --third-color: #d7b288;
    --shadow: 0 0 .5rem .5rem #00000020;
}

body {
    font-size: 1.5rem !important;
    color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
}

main {
    min-height: 100vh;
}

.navbar {
    background-color: var(--main-color);
    width: 100%;
    z-index: 2;
    top: 0;
    position: fixed;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);

    > div {
        padding: 0;
    }

    .navbar-brand {
        color: var(--m-opp);
    }

    .nav-item {
        margin-left: 1rem;

        a {
            color: var(--m-opp);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline !important;
        }
    }
}

.center-screen {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;

    .cs-main {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom, var(--sec-color), var(--third-color));
        padding: 1rem;
        min-height: 40rem;

        button {
            border: none;
            background-color: white;
            border: 2px solid white;
            color: var(--m-opp);
        }

        button:hover {
            background-color: transparent;
            color: white;
        }
    }

    .seperator {
        width: 0;
        height: 0;
        border-right: 100vw solid transparent;
        border-bottom: 4rem solid white;
        margin-top: -4rem;
        margin-bottom: 5rem;
    }

    .cs-sec {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        color: var(--m-opp);
        height: 100%;
        padding: 1rem;

        img {
            width: 15rem;
            margin: 0 auto;
        }
    }

    .details {
        position: relative;
        margin-top: 5rem;
        height: 40rem;
        background-image: linear-gradient(to bottom, var(--third-color), var(--sec-color));

        .seperator2-top {
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            border-right: 100vw solid transparent;
            border-top: 4rem solid white;
        }
    
        .seperator2-bottom {
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid transparent;
            border-bottom: 4rem solid white;
        }
    }

    .pricing {
        margin-top: 5rem;
        color: var(--m-opp);
        margin-bottom: 5rem;
        
        .row {
            gap: 3rem;
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        .header-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        .price-col {
            flex-grow: 1;
            border-radius: .5rem;
            border: 2px solid var(--m-opp);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            box-shadow: var(--shadow);

            h2 {
                background-color: #c0c0c080;
                width: 100%;
                text-align: center;
                padding: .5rem;
                border-bottom: 2px solid var(--m-opp);
            }

            div {
                margin-top: 1rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    font-size: 4rem;
    
                    span {
                        color: #c0c0c080;
                    }
                }
    
                li {
                    list-style: none;
                    padding-left: 0; 
                }
    
                li:not(.not-included)::before {
                    content: "\2713";
                    color: green;
                    display: inline-block;
                    width: 1rem;
                    margin-right: .75rem;
                }

                li.not-included::before {
                    content: "\2718";
                    color: red;
                    display: inline-block;
                    width: 1rem;
                    margin-right: .75rem;
                }

                s span {
                    color: black;
                }

                s {
                    display: flex;
                    justify-content: center;
                    color: #ff0000DF;
                }

                button {
                    background-color: var(--sec-color);
                    color: var(--main-color);
                    border: none;
                }
            }
        }
    }
}

.sidebar {
    overflow: hidden;
    position: relative;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100vh;
    transition: all .3s ease-in-out;
    box-shadow: var(--shadow);

    hr {
        color: none;
        border: .1rem solid var(--main-color);
        border-radius: 1rem;
        opacity: 1;
        margin: 1rem ;
    }

    > a {
        padding-top: 1rem;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: color .2s;

        :hover {
            color: var(--sec-color);

            span {
                text-decoration: underline;
            }
        }
    }

    i {
        font-size: 2rem;
    }

    .nav-item {
        position: relative;
        width: 100%;

        i {
            font-size: 1.5rem;
            margin-right: 1rem;
        }

        a {
            width: 100%;
            color: var(--main-color);
            display: flex;
            justify-content: left;
            padding-left: 3.75rem;
            text-decoration: none;
        }

        a:hover {
            color: var(--sec-color);
        }

        .text-tip {
            pointer-events: none;
            display: none;
        }
    }

    .sidebar-toggle {
        color: white;
        top: 0;
        right: 0;
        background-color: var(--m-opp);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem 0 0 1rem;
        border: 0;
        width: 2.75rem;
        height: 2.75rem;
        position: absolute;

        i {
            font-size: 1.75rem;
            transition: transform .3s ease .2s, color .2s;
        }

        i:hover {
            color: var(--sec-color) !important;
        }
    }

    .dropdown > a {
        justify-content: center;
    }

    img {
        margin-right: 1rem;
    }
}

.small-sidebar {
    padding: 0;
    width: 3.5rem;

    hr {
        margin: 0 !important;
        width: 130%;
    }

    i {
        margin-right: 5rem;
    }

    img {
        margin-right: 4rem;
    }

    .navbar-brand {
        margin: 3rem 0;
        justify-content: left;
        margin-left: .75rem;
        padding-bottom: .5rem;

        :hover i {
            color: var(--sec-color);
        }
    }

    .dropdown > a {
        justify-content: left;
        padding: .75rem;
    }

    .nav-item {

        i {
            display: flex;
            justify-content: center;
            width: 1.75rem;
            margin-right: 5rem;
        }

        :hover i {
            color: var(--sec-color)
        }

        a {
            width: 1000% !important;
            padding: .85rem;
            text-decoration: none;
            justify-content: left;
        }

        a:hover {
            text-decoration: none;
        }

        .text-tip {
            color: white;
            font-size: 1.1rem;
            position: fixed;
            transform: translateX(2.5rem) translateY(15%);
            background-color: #000000AE;
            padding: .5rem;
            width: fit-content;
            border-radius: 1rem;
            display: block;
            opacity: 0;
            transition: all .2s ease;
        }
    
        :hover .text-tip {
            opacity: 1;
        }
    }

    .sidebar-toggle {
        border: 0;
        right: -60%;
        top: 0%;

        i {
            margin-top: .5rem;
            transform: rotate(180deg);
        }
    }
}

.homepage {
    height: 100%;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--sec-color), var(--third-color));
    padding-left: 18rem;
    transition: all .3s ease-in-out;

    h2 {
        padding: 0;
        text-align: left;
        margin-top: 1rem;
    }

    h1 {
        color: var(--main-color);
        border-radius: 1rem;
        padding: 2rem 1rem 0;
    }

    i {
        font-size: 2rem;
    }

    .row:first-child {
        margin-top: 2rem;
    }

    .row {
        justify-content: space-between;
        gap: 2rem;
        margin: 2rem 1rem 0;
    }

    .row:last-child {
        padding-bottom: 5rem;
    }

    .home-col {
        background-color: var(--main-color);
        flex-grow: 1;
        color: var(--m-opp);
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: var(--shadow);

        .progress {
            margin-top: .5rem;
            height: 1.25rem;
            border-radius: 1rem;
            
            div {
                background-color: #d81a1a;
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .empty-col {
        flex-grow: 1;
    }

    .btn {
        background-color: #212529EF;
        border: 2px solid #212529EF;
    }

    .btn:hover {
        color: #212529EF;
        background-color: transparent;
    }

    hr {
        color: none;
        border: .1rem solid var(--main-color);
        border-radius: 1rem;
        opacity: 1;
        margin: 1rem ;
    }

    .todo-list, .flashcards {
        background-color: var(--main-color);
        color: var(--m-opp);
        border-radius: 1rem;
        box-shadow: var(--shadow);
    }

    .todo-list {

        ul {
            list-style: none;
        }

        input {
            border: 2px solid #00000020;
            border-radius: 1rem;
            padding: .2rem .5rem;
        }

        form {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }

        .btn {
            display: inline;
            margin-left: .5rem;
            margin-bottom: 0;
        }
    }

    .flashcards .btn {
        display: inline;
        margin-right: .5rem;
        margin-bottom: 1rem;
    }
}

.subject {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: var(--sec-color);
    padding-left: 18rem;
    transition: all .3s ease-in-out;

    h2 {
        padding: 0;
        text-align: left;
        margin-top: 1rem;
    }

    h1 {
        color: var(--main-color);
        border-radius: 1rem;
        padding: 2rem 1rem 0;
    }

    .accordion {
        padding: 1rem;
      }
      
    .accordion-item {
        border-radius: 1rem;
        border: none;
        overflow: hidden;
        box-shadow: var(--shadow);
    }
    
    .accordion-header {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: #f0f0f0;
    
        h2 {
            pointer-events: none;
            margin: 0;
        }
    }
    
    .accordion-content {
        max-height: 0;
        padding: 0;
        transition: all .4s ease;
        border-top: 2px solid #00000020;

        .accordion-btns {
            display: flex;
            justify-content: space-between;
            padding: 0;
            height: 100%;
            width: 100%;
            padding: 1rem;
            text-align: left;
            border: none;
            background-color: transparent;
            border-bottom: 2px solid #00000020;
            transition: background-color .4s ease;

            button {
                background-color: transparent;
                border: 0;
                height: 100%;
            }
    
            .button-title {
                text-align: left;
                width: 100%;
            }

            .accordion-check {
                pointer-events: none;
            }

        }

        .done_section {
            background-color: #2fac6180;
        }
    }

    .accordion-content.active {
        max-height: 15rem;
    }

    .accordion-chevron {
        pointer-events: none;
        transition: all .3s ease;
    }

    .accordion-chevron.active {
        transform: rotate(180deg);
    }
}

// --------------- Applies to all 

.full-length {
    padding-left: 3.5rem;
}

.btn {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    transition: all .25s ease-in-out;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;

    i {
        margin: auto 0 auto .5rem;
        font-size: 1rem;
    }
}

.btn:hover {
    cursor: pointer;
    color: var(--main-color);
    border-radius: 1rem;
}

