:root{
    --main-color: white;
    --m-opp: #212529;
    --sec-color: #2fac61;
    --third-color:#008870BF;
}

body {
    font-size: 1.5rem !important;
    color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
}

main {
    min-height: 100vh;
}

.navbar {
    padding: 1rem 2rem;
    background-color: var(--m-opp);

    > div {
        padding: 0;
    }

    .navbar-brand {
        color: var(--main-color);
    }

    .nav-item {
        margin-left: 1rem;

        a {
            color: var(--main-color);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline !important;
        }
    }
}

.center-screen {
    margin: auto 1rem;
    justify-content: center;
    align-items: center;
    position: relative;

    .cs-main {
        background-image: linear-gradient(to bottom left, #60cc8c, #3c8a5d);
        margin: 2rem auto;
        padding: 1rem;
        border-radius: .25rem;
    }

    .cs-sec {
        background-color: rgb(93, 92, 92);
        height: 100%;
        padding: 1rem;
        border-radius: .25rem;
    }
}

.sidebar {
    position: relative;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100vh;
    transition: all .3s ease-in-out;

    hr {
        color: none;
        border: .1rem solid var(--main-color);
        border-radius: 1rem;
        opacity: 1;
        margin: 1rem ;
    }

    > a {
        padding-top: 1rem;
    }

    a.active {
        background-color: var(--sec-color) !important;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    i {
        font-size: 2rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        i {
            font-size: 1.5rem;
            margin-right: 1rem;
        }

        a {
            width: 100%;
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline !important;
        }
    }

    .sidebar-toggle {
        color: white;
        top: 8%;
        right: -12%;
        background-color: var(--m-opp);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 1rem 1rem 0;
        border: 3px solid white;
        border-left: 0;
        width: 3rem;
        height: 3rem;
        position: absolute;

        i {
            transition: all .3s ease-in-out .2s;
        }
    }

    .dropdown > a {
        justify-content: center;
    }

    img {
        margin-right: 1rem;
    }
}

.small-sidebar {
    padding: 0;
    width: 3.5rem;
    overflow: hidden;

    hr {
        margin: 0 !important;
        width: 130%;
    }

    i {
        margin-right: 4rem;
    }

    img {
        margin-right: 4rem;
    }

    a.active {
        background-color: transparent !important;

        i {
            color: var(--sec-color);
        }
    }

    .navbar-brand {
        margin: 3rem 0;
        justify-content: left;
        margin-left: .75rem;
        padding-bottom: .5rem;
    }

    .dropdown > a {
        justify-content: left;
        padding: .75rem;
    }

    .nav-item {
        width: 1000%;

        i {
            margin-right: 5rem;
        }

        a {
            padding: .85rem;
            text-decoration: none;
            justify-content: left;
        }
    }

    .sidebar-toggle {
        border: 0;
        right: -48%;
        top: 0%;

        i {
            margin-top: .5rem;
            transform: rotate(180deg);
        }
    }
}

.homepage {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: var(--sec-color);
    padding-left: 18rem;
    transition: all .3s ease-in-out;

    h2 {
        padding: 0;
        text-align: left;
        margin-top: 1rem;
    }

    h1 {
        color: var(--main-color);
        border-radius: 1rem;
        padding: 2rem 1rem 0;
    }

    i {
        font-size: 2rem;
    }

    .row:first-child {
        margin-top: 2rem;
    }

    .row {
        justify-content: space-between;
        gap: 2rem;
        margin: 2rem 1rem 0;
    }

    .row:last-child {
        padding-bottom: 5rem;
    }

    .home-col {
        background-color: var(--main-color);
        flex-grow: 1;
        color: var(--m-opp);
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 .5rem .5rem #00000020;

        .progress {
            margin-top: .5rem;
            height: 1.25rem;
            border-radius: 1rem;
            
            div {
                background-color: #d81a1a;
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .empty-col {
        flex-grow: 1;
    }

    .btn {
        background-color: var(--third-color);
    }

    .btn:hover {
        background-color: #008870;
    }

    hr {
        color: none;
        border: .1rem solid var(--main-color);
        border-radius: 1rem;
        opacity: 1;
        margin: 1rem ;
    }

    .todo-list, .flashcards {
        background-color: var(--main-color);
        color: var(--m-opp);
        border-radius: 1rem;
        box-shadow: 0 0 .5rem .5rem #00000020;
    }

    .todo-list {

        ul {
            list-style: none;
        }

        input {
            border: 2px solid #00000020;
            border-radius: 1rem;
            padding: .2rem .5rem;
        }

        form {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }

        .btn {
            display: inline;
            margin-left: .5rem;
            margin-bottom: 0;
        }
    }

    .flashcards .btn {
        display: inline;
        margin-right: .5rem;
        margin-bottom: 1rem;
    }
}

.subject {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: var(--sec-color);
    padding-left: 18rem;
    transition: all .3s ease-in-out;

    h2 {
        padding: 0;
        text-align: left;
        margin-top: 1rem;
    }

    h1 {
        color: var(--main-color);
        border-radius: 1rem;
        padding: 2rem 1rem 0;
    }

    .accordion {
        padding: 1rem;
      }
      
    .accordion-item {
        border-radius: 1rem;
        overflow: hidden;
    }
    
    .accordion-header {
        padding: 10px;
        cursor: pointer;
        background-color: #f0f0f0;
    }
    
    .accordion-content {
        height: 0;
        padding: 10px;
        transition: height .3s linear;
    }

    .accordion-content.active {
        height: 4rem;
    }
}

// --------------- Applies to all 

.full-length {
    padding-left: 3.5rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    transition: all .25s ease-in-out;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;

    i {
        margin: auto 0 auto .5rem;
        font-size: 1rem;
    }
}

.btn:hover {
    cursor: pointer;
    color: var(--main-color);
    border-radius: 1rem;
}

