{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-xl-6 col-lg-8 col-md-10 col-11 mt-3">
            <p>I will actually recieve this email through the use of Python's SMTPlib module.</p>
            <h2>Recommend me a book!</h2>
            {{ message }}
            <form action="/rec" method="post">
                {{ form.csrf_token }}
                {{ render_form(form) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}